# ! GitHub-Pages-Defaults / -Lösungen für Pull nach PHP-Umgebungen nachahmen

# custom 404-Seite (auf GitHub Pages Standard)
ErrorDocument 404 /_layouts/404page.html

# dotfiles ausblenden (auf GitHub Pages Standard)
RewriteEngine on
RewriteRule (^\.|/\.) /_layouts/404page.html
