<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Page not found
    </title>
    <meta charset="utf-8"/>
    <style>
      body{
        margin: auto ;
        max-width: 40em ;
      }
    </style>
  </head>
  <body>
    <h1>
      The requested page could not be found
    </h1>
    <p>
      Please examine the source that has lead you here by following a link or gave you the URL.
    </p>
    <p>
      If you have typed in the URL by hand, you may check possible spelling errors:
    </p>
    <p>
      {{content}}
    </p>
  </body>
</html>
